body, h1, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #f4f4f4;
    padding: 0.5rem;
    text-align: center;
}

button {
    margin: 0 5px;
    padding: 0.5rem 1rem;
    border: none;
    background-color:darkgray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:dimgray;
}

main {
    padding: 1rem;
}

#data-viewer {
    background-color: #e7e7e7;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
}
